<ion-header>
  <ion-toolbar color="warning">
    <ion-title color="dark">
      myCuscuzeriaApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-searchbar placeholder="Search Cuscuz"></ion-searchbar>

<ion-card>
<ion-card-header>
    Cuscuz 1
</ion-card-header>
<ion-card-content>
  <img src="https://images.pexels.com/photos/1414642/pexels-photo-1414642.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
</ion-card-content>
  <ion-row>
  <ion-col>
      <ion-button color="warning">
          <ion-icon name="cart"></ion-icon>
      <div>Order Cuscuz</div>
    </ion-button>
  </ion-col>
  <ion-col>
          <ion-button color="warning">
          <ion-icon name="menu"></ion-icon>
          <div>Details</div>
        </ion-button>
  </ion-col>
  </ion-row>
  </ion-card>
<ion-card>
    <ion-card-header>
        Cuscuz 2
    </ion-card-header>
    <ion-card-content>
      <img src="https://images.pexels.com/photos/6116/food-plate-corn-sweet.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
    </ion-card-content>
    <ion-row>
        <ion-col>
            <ion-button color="warning">
                <ion-icon name="cart"></ion-icon>
            <div>Order Cuscuz</div>
          </ion-button>
        </ion-col>
        <ion-col>
                <ion-button color="warning">
                <ion-icon name="menu"></ion-icon>
                <div>Details</div>
              </ion-button>
        </ion-col>
        </ion-row>
    </ion-card>
    <ion-card>
        <ion-card-header>
            Cuscuz 3
        </ion-card-header>
        <ion-card-content>
          <img src="https://images.pexels.com/photos/19587/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        </ion-card-content>
        <ion-row>
            <ion-col>
                <ion-button color="warning">
                    <ion-icon name="cart"></ion-icon>
                <div>Order Cuscuz</div>
              </ion-button>
            </ion-col>
            <ion-col>
                    <ion-button color="warning">
                    <ion-icon name="menu"></ion-icon>
                    <div>Details</div>
                  </ion-button>
            </ion-col>
            </ion-row>
        </ion-card>
        <ion-card>
            <ion-card-header>
                Cuscuz 420
            </ion-card-header>
            <ion-card-content>
              <img src="https://images.pexels.com/photos/724295/pexels-photo-724295.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            </ion-card-content>
            <ion-row>
                <ion-col>
                    <ion-button color="warning">
                        <ion-icon name="cart"></ion-icon>
                    <div>Order Cuscuz</div>
                  </ion-button>
                </ion-col>
                <ion-col>
                        <ion-button color="warning">
                        <ion-icon name="menu"></ion-icon>
                        <div>Details</div>
                      </ion-button>
                </ion-col>
                </ion-row>
            </ion-card>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button color="success">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
  <div class="ion-padding">
    The world is your cuscuz.   
  </div>
</ion-content>
